@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>


<form method="post" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <vc:basket />
        </div>
        <div class="col-md-8 order-md-1">
            <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
            <h4 class="mb-3">Billing address</h4>

            <div class="mb-3">
                <label asp-for="Street">Street</label>
                <input asp-for="Street" type="text" class="form-control" placeholder="1234 Main St #7">
                <span asp-validation-for="Street"></span>
            </div>

            <div class="mb-3">
                <label asp-for="City">City</label>
                <input asp-for="City" type="text" class="form-control" placeholder="City">
                <span asp-validation-for="City"></span>
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label asp-for="Country">Country</label>
                    <select asp-for="Country" class="custom-select d-block w-100">
                        <option value="">Choose...</option>
                        <option>Turkey</option>
                        <option>United States</option>
                    </select>
                    <span asp-validation-for="Country"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="State">State</label>
                    <select asp-for="State" class="custom-select d-block w-100">
                        <option value="">Choose...</option>
                        <option>California</option>
                    </select>
                    <span asp-validation-for="State"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="ZipCode">Zip</label>
                    <input asp-for="ZipCode" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="ZipCode"></span>
                </div>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="CCHolder">Name on card</label>
                    <input asp-for="CCHolder" type="text" class="form-control" placeholder="">
                    <small class="text-muted">Full name as displayed on card</small>
                    <span asp-validation-for="CCHolder"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="CCNumber">Credit card number</label>
                    <input asp-for="CCNumber" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="CCNumber"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label asp-for="CCExpiration">Expiration</label>
                    <input asp-for="CCExpiration" type="text" class="form-control" placeholder="MM/YY">
                    <span asp-validation-for="CCExpiration"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label asp-for="CCCvv">CVV</label>
                    <input asp-for="CCCvv" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="CCCvv"></span>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Complete Payment</button>
        </div>
    </div>
</form>
