@model int 
@{ 
    ViewData["Title"] = "Order Successful";
}

<h1>Order Successful!</h1>

<h2>Order: #@Model</h2>

<p>Thank you for placing your order with us. You will receive an email once your order is dispatched.</p>